---
import MainHead from "./MainHead.astro";
const { title, seoTitle, seoDesc } = Astro.props;
---

<html>
    <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc}>
    <body>
        <slot />
        <style>
            body {
                font-family: "Carlito", sans-serif;
                min-height: 100vh;
            }
        </style>
    </body>
</html>